In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV

In [2]:
titanic_data = pd.read_csv('Downloads/train.csv')

In [5]:
titanic_data.isnull().sum()
X = titanic_data.drop(['PassengerId', 'Name', 'Ticket', 'Cabin','Survived', ], axis = 1)
y = titanic_data.Survived
X = pd.get_dummies(X)
X = X.fillna({'Age': X.Age.median()})
X_train , X_test, y_train, y_test = train_test_split(X, y , test_size =0.33, random_state=42)

In [6]:
clf_rf = RandomForestClassifier()

In [8]:
parametrs = {'n_estimators': [10,20,30], 'max_depth':[2,5,7,10]}

In [9]:
grid_search_cv_clf = GridSearchCV(clf_rf, parametrs, cv = 5)

In [10]:
grid_search_cv_clf.fit(X_train,y_train)

GridSearchCV(cv=5, estimator=RandomForestClassifier(),
             param_grid={'max_depth': [2, 5, 7, 10],
                         'n_estimators': [10, 20, 30]})

In [11]:
grid_search_cv_clf.best_params_

{'max_depth': 5, 'n_estimators': 30}

In [13]:
best_clf = grid_search_cv_clf.best_estimator_

In [15]:
best_clf.score(X_test,y_test)

0.8135593220338984

In [16]:
feature_importances = best_clf.feature_importances_

In [18]:
feature_importances_df = pd.DataFrame({'features' : list(X_train) ,'feature_importances': feature_importances})

In [23]:
feature_importances_df.sort_values('feature_importances', ascending=False)

     features  feature_importances
5  Sex_female             0.276076
6    Sex_male             0.231940
4        Fare             0.136909
0      Pclass             0.132263
1         Age             0.112329
3       Parch             0.035148
2       SibSp             0.034543
9  Embarked_S             0.017657
7  Embarked_C             0.017517
8  Embarked_Q             0.005619